<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
  version="4.0">

    <servlet>
        <servlet-name>default</servlet-name>
        <servlet-class>org.apache.catalina.servlets.DefaultServlet</servlet-class>
        <init-param>
            <param-name>debug</param-name>
            <param-value>0</param-value>
        </init-param>
        <init-param>
            <param-name>listings</param-name>
            <param-value>false</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>jsp</servlet-name>
        <servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
        <init-param>
            <param-name>fork</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>xpoweredBy</param-name>
            <param-value>false</param-value>
        </init-param>
        <load-on-startup>3</load-on-startup>
    </servlet>

   	<!--
		톰캣은 유저가 사이트에 머무는 동안 세션 객체를 저장
		일정 시간 동안 아무런 액션을 취하지 않으면 세션을 제거
		timeout = 마지막 액세스 타임을 기준으로 세션 제거 시기를 결정
	-->
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<!-- 클라이언트 request를 로그로 남긴다. logging.properties에서 FileHandler를 이용해 파일로 남긴다.  -->
	<filter>
		<filter-name>requestdumper</filter-name>
		<filter-class>org.apache.catalina.filters.RequestDumperFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>requestdumper</filter-name>
		<url-pattern>*</url-pattern>
	</filter-mapping>

	<welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
	
	<!-- OPTIONS 메서드는 가급적 공개하지 않는 것이 낫다. -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Restricted Methods</web-resource-name>
			<url-pattern>/*</url-pattern>
			<http-method>OPTIONS</http-method>
		</web-resource-collection>
	</security-constraint>

</web-app>
